body
{
    background-color: #fff;
}

/* Utility classes */

.ti-3
{
    text-indent: 1em;
}

.pl-0
{
    padding-left: 0 !important;
}

.pr-0
{
    padding-right: 0 !important;
}

.pb-0
{
    padding-bottom: 0 !important;
}

.auto-fade
{
    transition: border-color 400ms ease-out, color 400ms ease-out, background-color 400ms ease-out, opacity 400ms ease-out;
}

.mw-960
{
    max-width: 960px;
}

div#back-to-top
{
    position: fixed;
    inset: auto 0px 0px auto;
    border-top: 10px solid #bdc3c7;
    border-left: 10px solid #bdc3c7;
    background-color: #ecf0f1;
    width: 75px;
    height: 75px;
    border-radius: 50px 0px 0px 0px;
    color: #000;
    opacity: 0.5;
}

div#back-to-top:hover
{
    border-top: 10px solid #00b894;
    border-left: 10px solid #00b894;
    background-color: #55efc4;
    opacity: 1;
}

div#introduction
{
    background-color: #3498db;
    color: #ecf0f1;
    border-bottom: 10px solid #2980b9;
    text-align: center;
}

span#introduction-name
{
    background-color: #2980b9;
    color: #fff;
    border-bottom: 10px solid #fff;
}

div#opening-statement
{
    border-left: 10px solid #bdc3c7;
    border-bottom: 10px solid #bdc3c7;
    background-color: #ecf0f1;
    color: #000;
}

div#opening-statement:hover
{
    border-left: 10px solid #95a5a6;
    border-bottom: 10px solid #95a5a6;
}

div#toc
{
    border-bottom: 10px solid #2980b9;
    background-color: #3498db;
    color: #fff;
}

ul.toc-list > a > li
{
    border-left: 10px solid #3498db;
    border-bottom: none;
    background-color: #ecf0f1;
    cursor: pointer;
}

ul.toc-list > a > li:hover
{
    border-left: 10px solid #2980b9;
    background-color: #bdc3c7;
    color: #3498db;
}

div#about-me
{
    border-bottom: 10px solid #2980b9;
    background-color: #3498db;
    color: #fff;
}

div#about-me-prompt
{
    border-left: 10px solid #bdc3c7;
    border-bottom: 10px solid #bdc3c7;
    background-color: #ecf0f1;
}

div#about-me-prompt:hover
{
    border-left: 10px solid #95a5a6;
    border-bottom: 10px solid #95a5a6;
}

div#work-experience
{
    border-bottom: 10px solid #2980b9;
    background-color: #3498db;
    color: #fff;
}

div#work-experience-timeline
{
    background-color: #ecf0f1;
    border-left: 10px solid #bdc3c7;
    border-bottom: 10px solid #bdc3c7;
}

div#work-experience-timeline:hover
{
    border-left: 10px solid #95a5a6;
    border-bottom: 10px solid #95a5a6;
}

div#work-experience-timeline-header
{
    background-color: #bdc3c7;
}

div#work-experience-timeline-header > div
{
    border-left: 2px solid #95a5a6;
    border-bottom: 2px solid #95a5a6;
    text-align: center;
    display: inline-block;
}

div#work-experience-timeline > a
{
    margin-bottom: 1em;
    background-color: #bdc3c7;
}

div#work-experience-timeline > a:last-child
{
    margin-bottom: 0px;
}

div#work-experience-timeline > a:hover
{
    background-color: #3498db;
}

div.card
{
    border-radius: 0px;
}

div#work-experience-cards > div.card
{
    border-left: 10px solid #bdc3c7;
}

div#work-experience-cards > div.card:hover
{
    border-left: 10px solid #95a5a6;
}

div#work-experience-cards > div.card > div.card-body > h3.card-title
{
    border-bottom: 1px solid #bdc3c7;
    padding-bottom: 0.25em;
}

div#projects
{
    border-bottom: 10px solid #2980b9;
    background-color: #3498db;
    color: #fff;
}

div#projects-container > h2
{
    padding: 1.5em;
    margin-bottom: 0px;
    background-color: #ecf0f1;
    border-left: 10px solid #bdc3c7;
}

div#projects-container > h2:hover
{
    border-left: 10px solid #95a5a6;
}

div#projects-container > figure
{
    margin-bottom: 1.5em;
    padding: 0px;
}

div#projects-container img
{
    margin: 0px;
}

div#projects-container figcaption
{
    background-color: #ecf0f1;
    padding: 1.5em;
}

div#projects-container > div.description
{
    padding: 1.5em;
    margin-bottom: 1.5em;
    border-left: 10px solid #ecf0f1;
}

div#projects-container > div.description:hover
{
    border-left: 10px solid #95a5a6;
}

div#projects-container > div.description > p
{
    text-indent: 1em;
    margin-bottom: 1.5em;
}

div#projects-container > div.description > p:last-child
{
    margin-bottom: 0px;
}

div#projects-container > div.carousel
{
    padding: 0px;
}

div#skills
{
    border-bottom: 10px solid #2980b9;
    background-color: #3498db;
    color: #fff;
}

div#skills-container
{
    background-color: #ecf0f1;
    border-left: 10px solid #bdc3c7;
}

div#skills-container:hover
{
    border-left: 10px solid #95a5a6;
}

div#skills-container h1
{
    padding: .5em;
    border-bottom: 1px solid #bdc3c7;
    margin: 0px;
}

div#skills-container p
{
    padding: 1em;
    margin: 0px;
}

div#education
{
    border-bottom: 10px solid #2980b9;
    background-color: #3498db;
    color: #fff;
}

div#education-cards > div.card
{
    border-left: 10px solid #bdc3c7;
}

div#education-cards > div.card:hover
{
    border-left: 10px solid #95a5a6;
}

div#publications
{
    border-bottom: 10px solid #2980b9;
    background-color: #3498db;
    color: #fff;
}

div#publication-cards > div.card
{
    border-left: 10px solid #bdc3c7;
}

div#publication-cards > div.card:hover
{
    border-left: 10px solid #95a5a6;
}

div#testimonials
{
    border-bottom: 10px solid #2980b9;
    background-color: #3498db;
    color: #fff;
}

div#testimonial-container
{
    background-color: #ecf0f1;
    border-left: 10px solid #bdc3c7;
}

div#testimonial-container:hover
{
    border-left: 10px solid #95a5a6;
}

div#contact
{
    border-bottom: 10px solid #2980b9;
    background-color: #3498db;
    color: #fff;
}

div#contact-container
{
    background-color: #ecf0f1;
    border-left: 10px solid #bdc3c7;
}

div#contact-container:hover
{
    border-left: 10px solid #95a5a6;
}
