body
{
    background-color: #fff;
}

/* Utility classes */

.ti-3
{
    text-indent: 1em;
}

div#introduction
{
    background-color: #3498db;
    color: #ecf0f1;
    border-bottom: 10px solid #2980b9;
    text-align: center;
}

span#introduction-name
{
    background-color: #2980b9;
    color: #fff;
    border-bottom: 10px solid #fff;
}

div#opening-statement
{
    border-left: 10px solid #bdc3c7;
    border-bottom: 10px solid #bdc3c7;
    background-color: #ecf0f1;
    color: #000;
}

div#opening-statement:hover
{
    border-left: 10px solid #3498db;
    border-bottom: 10px solid #3498db;
}

div#toc
{
    border-bottom: 10px solid #8e44ad;
    background-color: #9b59b6;
    color: #fff;
}

ul#toc > li
{
    border-left: 10px solid #9b59b6;
    border-bottom: none;
    background-color: #ecf0f1;
    cursor: pointer;
}

ul#toc > li:hover
{
    border-left: 10px solid #8e44ad;
    background-color: #bdc3c7;
    color: #9b59b6;
}

div#about-me
{
    border-bottom: 10px solid #2c3e50;
    background-color: #34495e;
    color: #fff;
}

div#about-me-prompt
{
    border-left: 10px solid #bdc3c7;
    border-bottom: 10px solid #bdc3c7;
    background-color: #ecf0f1;
}

div#about-me-prompt:hover
{
    border-left: 10px solid #34495e;
    border-bottom: 10px solid #34495e;
}

div#work-experience
{
    border-bottom: 10px solid #16a085;
    background-color: #1abc9c;
    color: #fff;
}

div.card
{
    border-radius: 0px;
}
